body{
      display: flex;
      background-image: url("/static/css/images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      gap: 50px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}
.auth{
      width: 300px;
      height: 30px;
      border-radius: 90px;
      font-size: 20px;
      padding-top: 50px;
}
.input{
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
    font-size: 15px;
}
.signup_text{
      text-align: center;
      font-family: sans-serif;
      font-size: 20px;
      padding-top: 20px;
}
.signup_btn{
      cursor: pointer;
      width: 55px;
      height: 25px;
      border: none;
      font-size: 11px;
      font-weight: bold;
}
.signup_btn:hover{
      /*background-color: #30799B;*/
      background-color: #555555;
}
.back{
    color: black;
    font-stretch: expanded;


}
.view_content{
      font-family: Aerial, sans-serif;
      margin-top: 20px;

}
table{
      width: 450px;
      height: 3px;

    margin-top: 20px;
}
th{
      width: 200px;
}
.task_content{
}

.back{
      width: 90px;
    height: 20px;
    margin-top: 25px;
    font-size: 12px;
    text-align: left;
    background-color: transparent;
    outline: none;
    border-radius: 10px;
}
.back:hover{
        background-color: #444444;

}