<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


    {% block head %}{% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="row mt-3">
                <div class="col-md-6 offset-md-3">
                    {% for message in messages %}
                        <div class="alert alert-{{ messages[1] }}" role="alert">
                            {{ messages[0] }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
        <!-- Inside your HTML template where flash messages are displayed -->
{#    <div class="alert alert-success" role="alert">#}
{#        {{ message[0] }}#}
{#    </div>#}
</div>
    {% block body %}{% endblock %}

</body>
</html>