<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha384-CKJ35ESv1M7eTj9L0Vee3vq6O0z5lEl6O0Z6IOfdRvbMfM1IS0KlQh1CP1i4ZiKG" crossorigin="anonymous">#}
    {% block head %}{% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="row mt-3">
                <div class="col-md-6 offset-md-3">
                    {% for message in messages %}
                        <div class="alert alert-{{ messages[1] }}" role="alert">
                            {{ messages[0] }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
        <!-- Inside your HTML template where flash messages are displayed -->
{#    <div class="alert alert-success" role="alert">#}
{#        {{ message[0] }}#}
{#    </div>#}
</div>
    {% block body %}{% endblock %}

</body>
</html>