{% extends 'base.html' %}

{% block head %}
{% endblock %}
    <!-- Add any head content you need -->

{% block body %}
    <div class="content">
        <h1 style="text-align: center">Log In</h1>
        <div>

{#             {% with messages = get_flashed_messages() %}#}
{#                {% if messages %}#}
{#                    <div class="alert alert-{{ messages[0][1] }}">#}
{#                        {{ messages[0][0] }}#}
{#                    </div>#}
{#                {% endif %}#}
{#            {% endwith %}#}

            <form class="auth" method="POST" action="{{ url_for('login') }}">
                <label for="username">Username:</label>
                <input class="input" type="text" name="username" id="username" required>

                <label for="password">Password:</label>
                <input class="input" type="password" name="password" id="password" required>

                <button class="signup_btn" type="submit" >Log In</button>
                        <div><p><a class="back" href="{{ url_for('index') }}">Back to SignUp</a></p></div>

            </form>
        </div>


    </div>
{% endblock %}
